<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
      

        <form>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" maxlength="20" size="20" name="name"  placeholder="Go shopping" [(ngModel)]="newEntry.title" >
              
            </div>
            {{newEntry.title}}
           
            <div class="form-group">
              <label for="entry">Entry</label>
              <textarea class="form-control" id="entry" rows="3" cols="5" name="name" [(ngModel)]="newEntry.entry"></textarea>
              
            </div>
            {{newEntry.entry}}
            <button type="submit" class="btn btn-primary">Post</button>
          </form>
    </div>
    
</body>
</html>